<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery_driver.name %>
</p>

<%= link_to 'Edit', edit_delivery_driver_path(@delivery_driver) %> |
<%= link_to 'Back', delivery_drivers_path %>
