<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery_car.name %>
</p>

<%= link_to 'Edit', edit_delivery_car_path(@delivery_car) %> |
<%= link_to 'Back', delivery_cars_path %>
